body{
    background-color: rgb(174, 5, 81);
    text-align: center;
}

.container{
    max-width: 800px;
    margin: auto;
}

h2{
    color: white;
}

#main_part_form{
    background-color: white;
    display: flex;
    padding: 2rem 5rem; 
    gap: 1rem;
    justify-content: center;
}

#btn_part{
    background-color: white;
    padding-bottom: 1.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

#name,
#distance,
#age{
    border: 1px solid rgb(197, 7, 93);
    border-radius: 5px;
    padding: 3px;
    margin: 3px;
}

label{
        color: rgb(197, 7, 93);
    
}